resource_group_name  = "<terraform-state-resource-group>"
storage_account_name = "<terraform-state-storage-account>"
container_name       = "<terraform-state-container>"
key                  = "defender/dev.tfstate"
use_azuread_auth     = true